*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
    border: #2e8b57 2px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.heder_topline {
    background-color: #45474B;
    padding: 15px 0;
    color:#ffffff;
}
.heder_topline a {
    color: #ffffff;
}
.top_links a {
    text-decoration:underline;
}
.top_links a:hover {
    text-decoration:none;
}
.soc_buttons {
    float:right;
}
.top_links {
    display: inline-block;
    vertical-align: middle;
    z-index: 15;
}
.soc_buttons>a{
    font-size: 26px;
    margin: 8px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.soc_buttons>a:hover{
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    color: #4AA8D0;
}
.auth_button {
    border: none;
    background-color: transparent;
    font-size: 26px;
    display: none;
}
.logo {
    display: block;
    padding: 15px 0;
    color: #FFFF92;
    font-family: "NautilusPompiliusRegular";
    /* font-weight: bold; */
    font-size: 80px;
    text-align: center;
}
.top_header{
    background-color: #4AA8D0;
}
.nav_menu {
     background-color: #3795BD;
     color: #ffffff;
     margin-bottom:20px;
 }
.nav_menu a{
     color: #ffffff;
     display:block;
     padding: 11px 15px;

}
.nav_menu a:hover{
    background-color: #2785AD;
    -o-transition: width 10s; /* For Safari 3.1 to 6.0 */
    transition: width 10s;

}
.nav_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    text-transform: uppercase;
}
.contacts{
    float: right;
    font-size: 30px;
    padding: 0 15px;
    background-color: #2785AD;
    line-height: 44px;
}
.nav_menu ul li {
    display: inline-block;
}
.menu {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 29px;
    float: left;
    display: none;

}
h1 {
    text-transform:uppercase;
    text-align: center;
    font-family: "RobotoSlabLight";
    color: #ffffff;
}
.item {
    height: 290px;
}
.slide_item img {
   width: 100%;
    height: 350px;
    text-align: center;
}
.next_button, .prev_button {
    color: #ffffff;
    font-size: 46px;
    position: absolute;
    z-index: 15;
    cursor: pointer;
    top: 56%;
    padding: 10px;
}
.slider_container {
    position: relative;
}
.next_button {
     right: 20px;
 }
.prev_button {
    left: 20px;
}
.prev_button:hover{
        background-color: rgba(255,255,255,.4);
        border-radius: 5px;
}
.next_button:hover{
    background-color: rgba(255,255,255,.4);
    border-radius: 5px;
}
.main_footer {
    background-color: #2785AD;
}
.order {
    background-color: #eeeeee;
    padding: 20px 0;
}
.sell{
    font-size: 24px;
}
.button {
    display: block;
    border: none;
    background-color: #29C5A1;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;

}
.button:hover{
    background-color: #29dbbb;
    }
.button:active{
    background-color: #13AD8C;
}
.sell_right .button{
    float: right;
}
.hidden {
    display: none;
}
.form input[type="text"]{
    display: block;
    width: 90%;
    line-height: 25px;
    margin:0 auto 12px;
}
.form .button{
    margin: auto;

}
form h2{
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    font-family: "RobotoSlabBold";
    text-transform: uppercase;
}
.cont_item img {
    max-width: 100%;
    padding-top: 5px;
    margin-bottom: 20px;
}
.cont_item p {
    margin-top: 0;

}
.cont_item h3 {
    text-transform: uppercase;
    font-family: "robotoregular";

}
.right_aside{
    background-color: #eeeeee;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 15px;
}