/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sell_right .button{
        float: none;
        margin: auto;
        max-width: 200px;
    }
    .sell {
      text-align: center;
        padding-bottom: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .nav_menu ul {
        display: none;
        position: absolute;
        width:100%;
        top: 44px;
        background-color: #4AA8D0;
        z-index: 15;
    }
    .menu{
        display: block;
    }
    .nav_menu ul li{
        display: block;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   /*приховує меню "вхід/реєстрація при малих екранах" використовує фю з коммон джава*/
    .top_links {
        background-color: #585d61;
        display: none;
        padding: 14px;
        position: absolute;
        vertical-align: middle;
        width: 90%;
        margin-top: 55px;

    }
/*показує кнопку реєстрації при малих екранах*/
    .auth_button {
        display: inline-block;
        /* vertical-align: middle; */
        margin-top: 0px;
        position: absolute;
        top: 9px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .top_links {
        display: inline-block!important;
        margin-top: 11px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .nav_menu ul {
        display: block!important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}